# build source
**/*.egg-info/

# pypdl logs
**pypdl.log

# pycache
**/__pycache__/

# slurmoutput
*.out

# logs
*.log

# vim swap
*.swp

**/*.gradio/

# vitepress
docs/.vitepress/cache/
docs/.vitepress/dist/
docs/.vitepress/temp/
